.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu button svg {
  padding-right: 5px;
}

.menu .menuRight svg {
  padding-left: 10px;
}

.menu button:focus,
.menu button:focus-visible {
  outline: none -webkit-focus-ring-color;
}

.menuClicked {
  color: black;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 2px solid black;
  margin: 5px 5px 3px 5px;
  border-radius: 0px;
  transition: none;
}
